@model ProductDetailsRequestModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style src="~/css/site.css"></style>
<div class="row">
    <div class="detail-galary">
        <div class="list-galery-text"> @Html.DisplayFor(model => model.Name)</div>
        <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
    </div>
    <div style="white-space: pre"> @Html.DisplayFor(model => model.Description)</div>
</div>
<div>
    @if (User.IsInRole(Roles.AdminRole))
    {
        <div>Available on stock:  @Html.DisplayFor(model => model.Quantity)</div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete |</a>
        <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id">Add to Cart |</a>
    }
    @if (this.User.Identity.IsAuthenticated)
    {
        if (!this.User.IsInRole(Roles.AdminRole))
        {
            @if (ViewBag.isFavorite == false)
            {
                <a asp-action="AddToFavoriteList" asp-route-id="@Model.Id">Add To Favorites</a>
            }
            else
            {
                <a asp-action="RemoveFromFavoriteList" asp-route-id="@Model.Id">Remove From Favorites</a>
            }
        }
    }
    | <a asp-action="Index">Back to Products</a>
</div>
