@model WebStore.MVC.Helpers.PaginatedList<ListProductRequestModel>
@inject IProductService productService

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (this.User.IsInRole(Roles.AdminRole))
{
    <p>
        <a asp-action="Create">Add Product</a>
    </p>
}

<div class="container">
    <div class="row">      
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="card bg-light mb-3 list-galery-zoom" style="width: 11.0rem; margin-left:20px; margin-bottom:30px">
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                @if (item.Thumbnail == null)
                                {
                                    <img class="card-img-top" src="~/no-image.png" />
                                }
                                else
                                {
                                    <img class="card-img-top" src="data:image/jpeg;base64,@item.Thumbnail"
                                         alt="@Html.DisplayFor(modelItem => item.Name)">
                                }
                            </a>
                            <div style="margin:5px; padding:3px;" class="card-body text-center">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                <span class="price-text"> @Html.DisplayFor(modelItem => item.Price) kr.</span>
                                @*<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.Id">*@
                                <input id="addToCardButton" onclick="addToCart(@item.Id, '@item.Name',  @item.Price, 'data:image/jpeg;base64,@item.Thumbnail')" data-toggle="modal" data-target="#myModal" class="btn btn-success" type="button" value="Add">
                                @*</a>*@
                            </div>
                        </div>
                    }
                    <div id="myModal" class="modal"></div>
                </div>
            </div>
        </div>
    </div>

    @*Paging*@
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="center-div">
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        @if (Model.PageIndex > 2)
        {
            <a asp-action="Index"
               asp-route-pageNumber="1">
                1
            </a>
            <span>...</span>
        }
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">
                @(Model.PageIndex - 1)
            </a>
        }
        <span>@Model.PageIndex</span>
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">
                @(Model.PageIndex + 1)
            </a>
        }
        @if (Model.TotalPages > Model.PageIndex + 1)
        {
            <span>...</span>
            <a asp-action="Index"
               asp-route-pageNumber="@Model.TotalPages">
                @Model.TotalPages
            </a>
        }
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>

