@model WebStore.MVC.Helpers.PaginatedList<ListProductRequestModel>
@inject IProductService productService

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.highligth-on-hoover:hover{
    background-color:lightgrey;
}
</style>

<h1>Products</h1>


@if (this.User.IsInRole(Roles.AdminRole))
{
    <p>
        <a asp-action="Create">Add Product</a>
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div style="line-height:0.9;" class="container">
                @foreach (var item in await productService.GetAllCategories())
                {
                    <p><h5>@item.Name</h5></p>
                    @foreach (var productType in item.ProductTypes)
                    {
                        <div class="highligth-on-hoover" style="cursor:pointer;" onclick="selectProductType('@productType.Id')">@productType.Name</div><br />
                    }
                    <hr />
                }
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3">
                            <div class="card bg-light mb-3 list-galery-zoom" style="width: 13.5rem;">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                    @if (item.Image == null)
                                    {
                                        <img class="card-img-top" src="~/no-image.png" />
                                    }
                                    else
                                    {
                                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)"
                                             alt="@Html.DisplayFor(modelItem => item.Name)">
                                    }
                                </a>
                                <div style="margin:5px; padding:3px;" class="card-body text-center">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                    <p class="card-text">Some quick example text to build on the card title.</p>
                                    <span class="price-text"> @Html.DisplayFor(modelItem => item.Price) kr.</span>
                                    @*<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.Id">*@
                                    <input id="addToCardButton" onclick="addToCart(@item.Id)" class="btn btn-success" type="button" value="Add">
                                    @*</a>*@
                                </div>
                            </div>
                        </div>                     
                    }
                </div>
            </div>
        </div>
    </div>

    @*Paging*@
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
      
    <div class="center-div">
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        @if (Model.PageIndex > 2)
        {
            <a asp-action="Index"
               asp-route-pageNumber="1">
                1
            </a>
            <span>...</span>
        }
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">
                @(Model.PageIndex - 1)
            </a>
        }
        <span>@Model.PageIndex</span>
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">
                @(Model.PageIndex + 1)
            </a>
        }
        @if (Model.TotalPages > Model.PageIndex + 1)
        {
            <span>...</span>
            <a asp-action="Index"
               asp-route-pageNumber="@Model.TotalPages">
                @Model.TotalPages
            </a>
        }
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div> 

