@model WebStore.MVC.Helpers.PaginatedList<ListProductRequestModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>


@if (this.User.IsInRole(Roles.AdminRole))
{
    <p>
        <a asp-action="Create">Add Product</a>
    </p>
}
<div class="container">
    <div class="row">
        @{ var count = 0;}
        @foreach (var item in Model)
        {
            <div class="list-gallery list-galery-zoom">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                    @if (item.Image == null)
                    {
                        <img src="~/no-image.png" />
                    }
                    else
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" />
                    }
                    <hr />
                    <div class="list-galery-text"><p>@Html.DisplayFor(modelItem => item.Name)</p></div>
                </a>
                <hr />
                <div style="padding:3px">
                    <span class="price-text"> @Html.DisplayFor(modelItem => item.Price) kr.</span>

                    <span style="float:right">
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.Id">
                            <input class="btn btn-success" type="button" value="Add">
                        </a>
                    </span>
                </div>
            </div>
            count++;
            if (count == 5)
            {
                <div><hr /></div>
                count = 0;
            }
        }
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="center-div">
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        @if (Model.PageIndex > 2)
        {
            <a asp-action="Index"
               asp-route-pageNumber="1">
                1
            </a>
            <span>...</span>
        }
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">
                @(Model.PageIndex - 1)
            </a>
        }
        <span>@Model.PageIndex</span>
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">
                @(Model.PageIndex + 1)
            </a>
        }
        @if (Model.TotalPages > Model.PageIndex + 1)
        {
            <span>...</span>
            <a asp-action="Index"
               asp-route-pageNumber="@Model.TotalPages">
                @Model.TotalPages
            </a>
        }
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>


