@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Cart";
}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <h1>My Shopping Cart</h1>
        <div class="table-responsive table-responsive-mobile">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th align="right">Price</th>
                        <th align="right">Amount</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Product.Image)" alt="" class="hidden-xs hidden-sm" style="border:1px solid #eee" height="75"></td>
                            <td width="100%">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId"> @Html.DisplayFor(modelItem => item.Product.Name)</a><br>
                                <span class="small"></span>
                            </td>
                            <td align="center">
                                <form asp-action="EditCartItemQuantity">
                                    <input hidden name="id" asp-for="@item.Id" />
                                    <input hidden name="productId" asp-for="@item.ProductId" />
                                    <input type="number" name="quantity" class="form-control qty" style="width:75px;" asp-for="@item.Quantity">&nbsp;pc.<br>
                                </form>
                            </td>
                            <td align="right">@Html.DisplayFor(modelItem => item.Product.Price)</td>
                            <td align="right">@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                            <td>
                                <a asp-action="DeleteCartItem" asp-route-id="@item.Id"><span class="fas fa-times" style="color:red"></span></a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" align="right"><strong>Total Amount: <br></strong></td>
                        <td align="right"><strong>@Html.DisplayFor(modelItem => Model.Amount)</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-3"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(".qty").change(function () {
        $(this).closest('form').submit();
    });

</script>
